<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= sub %></p>
    <table>
      <tr>
        <th><b>ID#</b></th>
        <th><b>Term</b></th>
        <th><b>Description</b></th>
        <th><b>References</b></th>
      </tr>
      <% temps.forEach((temp) => { %>
        <tr>
          <td><%= temp.id %></td>
          <td><%= temp.title %></td>
          <td><%= temp.des %></td>
          <td><a href="<%= temp.ref %>"><%= temp.ref %></a></td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
